.listingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.image {
  display: block;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
}
.dateCategory {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
}
.summary {
  margin: 0 1rem;

  margin-top: 2rem;
  max-width: 65ch;
  font-size: 0.9rem;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.7);
}
.readmore {
  margin-top: 3rem;
  font-size: 0.7rem;
  font-weight: 300;
}

.fadeInSection {
  opacity: 0;
  transform: translatex(-4rem);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fadeInSection.isVisible {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
